// colors

$orangeColor: #ff7c16;
$redColor: #e72228;
$purpleColor: #f215b6;
$greenColor: #a6e51c;
$darkBlueColor: #181e4b;
$darkBlueColorAlt: #14183E;
$blueColor: #253776;
$fontColor: #5e6282;
$bgSecColor: #efefef;
$btnShuffleColor: #0f526e;
$bgBtnShuffleColor: #e3e3e3;
$grayColor: #707070;
$grayAltColor: #686D77;
$blackColor: #080809;
$ActiveBgBtnShuffleColor: #0eceff;
$iconsColor: #13beff;
$linksColor: #212832;

$greenLightColor: #A6E51C;

/* ************************************* */

// Fonts

$fontOpenSans: "Open Sans", sans-serif;
$fontPoppins: "Poppins", sans-serif;
$fontVolkhov: "Volkhov", serif;
