.section-banner {
  height: 100vh;
}
.banner-slider {
  height: 100%;
  .swiper-slide {
    overflow: hidden;
    background-color: #fff;
    .bg-decore {
      position: absolute;
      top: -181.84px;
      right: -300px;
      width: 1000px;
      height: 100%;
      animation: 5.5s linear infinite spinner;
    }
    .slide-item {
      display: flex;
      justify-content: space-between;
      height: 100%;
      .slide-txt {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 50%;
        flex: 0 0 50%;
        padding-left: 15px;
        @include media-max($lg) {
          max-width: 100%;
          flex: 0 0 100%;
        }
        h5 {
          font-size: 20px;
          font-family: $fontPoppins;
          font-weight: 700;
          text-transform: uppercase;
          margin-bottom: 40px;
          @include media-max($lg) {
            margin-bottom: 20px;
          }
          &.purple-color {
            color: $purpleColor;
          }
          &.green-color {
            color: $greenColor;
          }
          &.orange-color {
            color: $orangeColor;
          }
        }
        .slide-title {
          margin-bottom: 40px;
          position: relative;
          .decore-title-banner {
            position: absolute;
            right: 0;
            top: 50px;
            z-index: -1;
            transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            @include media-max($lg) {
              width: 60%;
            }
          }
          h2 {
            font-family: $fontPoppins;
            font-size: 75px;
            font-weight: bold;
            color: $darkBlueColor;
            height: 190px;
            white-space: wrap;
            overflow: hidden;
            text-overflow: ellipsis;
            @include media-max($lg) {
              font-size: 55px;
              height: 122px;
            }
            @include media-max($sm) {
              font-size: 35px;
              height: 76px;
            }
          }
        }
        p {
          color: $fontColor;
          font-family: $fontPoppins;
          font-size: 19px;
          line-height: 34px;
          font-weight: 400;
          margin-bottom: 40px;
          @include media-max($sm) {
            font-size: 14px;
            line-height: 24px;
            margin-bottom: 20px;
          }
        }
        .btns-call-actions {
          display: flex;
          align-items: center;
          .btn-slide {
            display: inline-block;
            font-family: $fontOpenSans;
            font-size: 18px;
            background-color: $orangeColor;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
            box-shadow: 0 20px 70px rgba($color: #f1a501, $alpha: 15%);
            color: #fff;
            padding: 1rem 1.2rem;
            margin-right: 50px;
            &:hover {
              transform: scale(1.01) translateY(-2px);
            }
            @include media-max($sm) {
              font-size: 13px;
              padding: 0.8rem 0.7rem;
              margin-right: 24px;
            }
            @include media-max($xs) {
              font-size: 11px;
              padding: 0.8rem 0.5rem;
            }
          }
          .btn-play-demo {
            display: flex;
            align-items: center;
            color: $grayAltColor;
            font-family: $fontPoppins;
            font-weight: 500;
            font-size: 17px;
            @include media-max($sm) {
              font-size: 14px;
              color: #333;
              font-weight: bold;
            }

            .icon {
              margin-right: 10px;
              width: 52px;
              height: 52px;
              border-radius: 50%;
              background-color: $redColor;
              color: #fff;
              display: flex;
              align-items: center;
              justify-content: center;
              @include media-max($sm) {
                margin-right: 8px;
                width: 40px;
                height: 40px;
              }
            }
            &:hover {
              transform: scale(1.01) translateY(-2px);
            }
          }
        }
      }
      .slide-img {
        max-width: 50%;
        flex: 0 0 50%;
        height: 100%;
        display: flex;
        align-items: end;
        justify-content: start;
        @include media-max($lg) {
          max-width: 100%;
          flex: 0 0 100%;
          position: absolute;
          bottom: 0;
          z-index: -1;
          opacity: 0.4;
        }
        img {
          // height: 85%;
          max-width: 100%;
          transition: all 0.4s linear;
        }
      }
    }

    &.swiper-slide-active .decore-title-banner {
      // width: 100% !important;
    }

    &.swiper-slide-active img {
      transform: translate(50px, -0px);
    }
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.sw_pagination {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  @include media-max($sm) {
    left: 50%;
    transform: translateX(-15%);
  }
  @include media-max($xs) {
    transform: translateX(-25%);
  }
}
.swiper-wrapper {
  .swiper-pagination.swiper-pagination-horizontal.swiper-pagination-bullets {
    position: absolute;
    bottom: 0;
    left: 0;
    width: auto;
    text-align: initial;
    transition: 0.3s opacity;
    z-index: 10;
    display: flex;
    align-items: center;

    &::before {
      content: "";
      position: absolute;
      border-bottom: 4px dotted #353535;
      width: 80%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    .swiper-pagination-bullet {
      width: 40px;
      height: 40px;
      margin-right: 110px;
      opacity: 1;
      transition: all 0.2s ease-in-out;
      position: relative;

      @include media-max($sm) {
        width: 30px;
        height: 30px;
        margin-right: 40px;
      }

      &:last-child::after {
        content: none;
      }

      &:first-child {
        background-color: $purpleColor;
      }
      &:nth-child(2) {
        background-color: $greenColor;
      }
      &:last-child {
        background-color: $orangeColor;
      }

      &:last-child {
        margin-right: 0;
      }

      &.swiper-pagination-bullet-active {
        transform: scale(1.3);
      }
    }
  }
}
