.btn-more {
  padding: 20px 100px;
  color: #fff;
  background-color: $orangeColor;
  display: inline-block;
  border-radius: 10px;
  font-size: 18px;
  font-family: $fontOpenSans;
  &:hover {
    color: #fff;
    transform: scale(1.01) translateY(-5px);
  }

  @include media-max($md) {
    padding: 10px 40px;
    border-radius: 6px;
    font-size: 16px;
  }
}
