.sec-things {
  position: relative;
  background-color: $bgSecColor;
  overflow: hidden;
  padding: 5rem 0;
  z-index: 1;
  @include media-max($md) {
    padding: 5rem 0 0 0;
  }

  .col-md-5.position-relative {
    z-index: -1;
    margin-top: -80px;
  }

  .title-stroke {
    -webkit-text-stroke: 1px #d9d9d9;
    -webkit-text-fill-color: transparent;
    position: absolute;
    top: 38px;
    left: -170px;
    font-size: 240px;
    font-family: $fontPoppins;
    line-height: 200px;
    @include media-max($xl) {
      top: 30px;
      left: -60px;
      font-size: 130px;
      line-height: 108px;
    }
  }

  .bg-mask {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    opacity: 0.1;
    background-size: cover;
  }

  .bg-transform {
    background-color: $purpleColor;
    height: 80%;
    width: 155%;
    position: absolute;
    right: -190px;
    top: 130px;
    transform: skewX(-25deg);
    z-index: 0;
    @include media-max($xxll) {
      width: 180%;
      height: 75%;
      position: absolute;
      right: -190px;
      top: 120px;
    }
    @include media-max($xl) {
      height: 70%;
      top: 100px;
    }
    @media (max-width: 1024px) and (max-height: 800px) {
      height: 69%;
    }
    @include media-max($lg) {
      width: 190%;
    }
    @include media-max($md) {
      width: 100%;
      transform: skewX(0);
      height: 100%;
      display: none;
    }
  }
  .txt-content {
    padding: 250px 80px 120px 20px;
    position: relative;
    z-index: 1;
    @include media-max($xl) {
      padding: 140px 50px 30px 10px;
    }
    @media (max-width: 1024px) and (max-height: 800px) {
      padding: 180px 50px 30px 10px;
    }
    @include media-max($md) {
      background-color: $purpleColor;
    }
    @include media-max($sm) {
      padding: 110px 10px 20px 10px;
    }
    h2 {
      color: $blueColor;
      font-size: 70px;
      font-weight: bold;
      font-family: $fontPoppins;
      margin-bottom: 80px;
      @include media-max($xxll) {
        font-size: 48px;
        margin-bottom: 50px;
      }
      @include media-max($xxl) {
        font-size: 44px;
        margin-bottom: 60px;
      }
      @include media-max($xl) {
        font-size: 32px;
        margin-bottom: 40px;
      }
      @include media-max($lg) {
        font-size: 26px;
        margin-bottom: 20px;
      }
      @include media-max($md) {
        margin-bottom: 30px;
        text-align: center;
        font-size: 40px;
      }
    }
    p {
      color: #fff;
      font-size: 30px;
      font-weight: 400;
      font-family: $fontOpenSans;
      @include media-max($xxl) {
        font-size: 20px;
      }
      @include media-max($xl) {
        font-size: 16px;
      }
      @include media-max($lg) {
        font-size: 14px;
      }
      @include media-max($md) {
        text-align: center;
        font-size: 22px;
      }
    }
  }
}

.things-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding-left: 80px;
  @include media-max($xxl) {
    // grid-template-columns: repeat(4, 1fr);
  }
  @include media-max($md) {
    padding-left: 0;
  }
  .grid-1 {
    grid-area: 3 / 1 / 5 / 2;
  }
  .grid-2 {
    grid-area: 2 / 2 / 4 / 3;
  }
  .grid-3 {
    grid-area: 4 / 2 / 6 / 3;
  }
  .grid-4 {
    grid-area: 1 / 3 / 3 / 4;
  }
  .grid-5 {
    grid-area: 3 / 3 / 5 / 4;
  }
}
.thing-item {
  position: relative;
  overflow: hidden;
  z-index: 1;
  &::before,
  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(rgba($color: #000, $alpha: 0%), #13276b);
    opacity: 0.3;
    transition: 0.4s;
  }
  &::after {
    opacity: 0.1;
    background-image: none;
    background-color: #000;
  }
  &:hover {
    &::before {
      opacity: 0.9;
    }
    .txt .link-thing {
      opacity: 1;
      transform: translateX(0);
    }
  }

  img {
    width: 100%;
  }
  .txt {
    .title {
      color: #fff;
      font-weight: 900;
      font-family: $fontPoppins;
      font-size: 32px;
      position: absolute;
      bottom: 70px;
      left: 0;
      padding-left: 40px;
      width: 100%;
      z-index: 1;
      @include media-max($xxl) {
        font-size: 20px;
        padding-left: 32px;
      }
      @include media-max($xl) {
        font-size: 18px;
        padding-left: 26px;
        bottom: 40px;
      }
      @include media-max($lg) {
        font-size: 26px;
        padding-left: 26px;
        bottom: 50px;
      }
      @include media-max($md) {
        font-size: 16px;
        padding-left: 20px;
        bottom: 34px;
      }

      @media (max-width: 1024px) and (min-width: 768px) {
        font-size: 16px;
        padding-left: 20px;
        bottom: 34px;
      }

      &::after {
        padding-left: 25px;
        content: attr(data-descr);
        position: absolute;
        top: -18px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        font-size: 37px;
        font-family: $fontPoppins;
        opacity: 0.4;
        -webkit-text-stroke: 1px #fff;
        -webkit-text-fill-color: transparent;
        @include media-max($xxl) {
          top: -10px;
          font-size: 22px;
        }
        @include media-max($xl) {
          top: -10px;
          font-size: 18px;
        }
        @include media-max($md) {
          top: -8px;
          font-size: 17px;
          padding-left: 16px;
        }
        @media (max-width: 1024px) and (min-width: 768px) {
          top: -8px;
          font-size: 17px;
          padding-left: 16px;
        }
      }
    }
    .link-thing {
      position: absolute;
      bottom: 30px;
      left: 50px;
      z-index: 1;
      display: flex;
      align-items: center;
      color: #fff;
      font-size: 17px;
      font-weight: 500;
      transform: translateX(-30px);
      opacity: 0;
      @include media-max($xxl) {
        left: 35px;
        font-size: 13px;
      }
      @include media-max($md) {
        left: 30px;
        font-size: 12px;
        bottom: 16px;
      }
      @include media-max($sm) {
        left: 18px;
        font-size: 11px;
        bottom: 13px;
      }
      @media (max-width: 1024px) and (min-width: 768px) {
        left: 18px;
        font-size: 11px;
        bottom: 13px;
      }
      span {
        margin-right: 10px;
        @include media-max($sm) {
          margin-right: 5px;
          font-size: 11px;
        }
        @media (max-width: 1024px) and (min-width: 768px) {
          margin-right: 5px;
          font-size: 11px;
        }
      }
    }
  }
}
